 <form onsubmit={{action "saveUser"}}>
      <img class="mb-4" src="images/logo-dark.png" alt="" height="57">
      <h1 class="h3 mb-3 fw-normal">Регистрация n@n.ru</h1>

      <div class="form-floating">

        {{input type="text" value=email class="form-control" placeholder="name@example.com" id="floatingInput"}}

        {{#each errors.email as |error|}}
          <span class="error-message">{{error.message}}</span>
        {{/each}}

      </div>
      <div class="form-floating">

        {{input type="password" class="form-control" placeholder="Password" value=password id="floatingPassword"}}

        {{#each errors.password as |error|}}
          <span class="error-message">{{error.message}}</span>
        {{/each}}

      </div>

      <button class="w-100 btn btn-lg btn-primary mb-3" type="submit" href="index.html">Зарегистрироваться</button>

      {{#link-to "index" class="w-100"}}
        Назад
      {{/link-to}}
      {{!-- <a class="w-100" href="index.html">Назад</a> --}}
    </form>